{% extends "base.html.twig" %}
{% block meta_description %}
    <meta name="description" content="Affichage de la liste d'article dans une catégorie" />   
{% endblock %}
{% block title %}Rubrique : {{category.titre}}{% endblock %}
{% block body %}   
        <div class="container">
        {% include "partials/flash.html.twig" %}
                <h1 class="text-center py-3">{{category.titre}}</h1>
                <div class="row">
                        {% for article in category.articles %}
                                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-xl-4 mb-5">
                                        <div class="card ml-auto mr-auto" style="width: 18rem;">
                                        <img class="card-img-top" src="{{ asset("images/" ~ article.image) }}" alt="Card image cap" 
                                        style="height:200px; width=100px; display:block">
                                        <div class="card-body">
                                        <h5 class="card-title red">{{article.titre}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{article.category.titre}}</h6>
                                        <p class="card-text">{{article.description}}</p>
                                        </div>
                                        <a href="{{path ('show_article', {'slug': article.slug}) }}" class="btn btn-primary">Lire la suite</a>                                    
                                        {% if is_granted('ROLE_EDITOR') %}
                                        <a href="{{ path('edit_article', {'slug' : article.slug}) }}" class="btn btn-secondary">Modifier</a>
                                        {% endif %}
                                        </div>
                                </div>    
                        {% endfor %}
                </div>
        </div>
{% endblock %}